/****** MARGIN TOP **********/
.marg15-t{
  margin-top: 15px;
}

.marg25-t{
  margin-top: 25px;
}

/****** MARGIN BOTTOM **********/
.marg10-b{
  margin-bottom: 10px;
}

.marg25-b{
  margin-bottom: 25px;
}

.marg40-b {
  margin-bottom: 40px;
}

/****** MARGIN **********/
.marg50 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.marg150 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.marg250 {
  margin-top: 25px;
  margin-bottom: 25px;
}

/****** PADDING **********/
.pad300600 {
  padding-top: 30px;
  padding-bottom: 60px;
}

.pad250 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.pad20 {
  padding: 20px;
}

.pad400 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.pad500 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pad020 {
  padding-left: 20px;
  padding-right: 20px;
}

.pad015 {
  padding-left: 15px;
  padding-right: 15px;
}

/****** PADDING TOP **********/
.pad05-t {
  padding-top: 5px;
}

.pad10-t {
  padding-top: 10px;
}

.pad15-t {
  padding-top: 15px;
}

.pad25-t {
  padding-top: 25px;
}

/****** PADDING BOTTOM **********/
.pad15-b {
  padding-bottom: 15px;
}

.pad25-b {
  padding-bottom: 25px;
}

.pad40-b {
  padding-bottom: 40px;
}