#doc {
  min-height: calc(100vh - 160px);
  padding: 50px;

  @include mq('tablet'){
    min-height: calc(100vh - 120px);
    padding: 30px 20px;
  }

  img.logo {
    max-width: 300px;
  }



  .user_link {
    font-size: 35px;
    padding-right: 10px;
    color: $blau1;

    & + hr {
      margin-bottom: 40px;
      padding-top: 10px;

      @include mq('tablet'){
        margin-bottom: 20px;
      }
    }
  }

  nav {
    height: auto;
    font-size: 105%;

    ol {
      margin-left: 0;
    }

    > ol {
      counter-reset: listenpunkt_ebene1;
      list-style-type: none;

      ol {
        padding-left: 15px;
        padding-top: 5px;
      }

      li {
        padding-bottom: 5px;
        font-size: 13px;

        a {
          &:hover {
            text-decoration: underline;
          }

          &.active {
            text-decoration: underline;
            color: $grau30;
          }
        }

        &.dir{
          p {
            font-weight: 400;
            display: inline;
          }

          &:before {
            font-weight: 400;
          }
        }
      }

      > li {
        &:before {
          content: counter(listenpunkt_ebene1) ". ";
          counter-increment: listenpunkt_ebene1;
        }

        > ol {
          counter-reset: listenpunkt_ebene2;
          list-style-type: none;

          > li {
            &:before {
              content: counter(listenpunkt_ebene1) "." counter(listenpunkt_ebene2, decimal) ". ";
              counter-increment: listenpunkt_ebene2;
            }

            > ol {
              counter-reset: listenpunkt_ebene3;
              list-style-type: none;

              > li {
                &:before {
                  content: counter(listenpunkt_ebene1) "." counter(listenpunkt_ebene2) "." counter(listenpunkt_ebene3, decimal) ". ";
                  counter-increment: listenpunkt_ebene3;
                }

              }

            }

          }
        }
      }
    }
  }

  #doc_nav {
    display: inline-block;
    float: left;
    padding-right: 15px;
    height: calc(100vh - 100px - 80px - 60px - 40px);
    border-right: 1px solid $grau90;
    overflow: scroll;
    width: 230px;
    box-sizing: border-box;

    @include mq('tablet'){
      width: calc(100% - 40px);
      padding: 50px 0 0 0;
      position: absolute;
      border-right: none;

      nav {
        background-color: #f9f9f9;
        padding: 10px 20px 30px;
        border-bottom: 1px solid #e5e5e5;
        max-height: 100%;
        display: none;
      }
    }
  }

  #doc_content {
    display: inline-block;
    padding-left: 50px;
    width: calc(100% - 230px);
    box-sizing: border-box;
    max-width: 1000px;

    @include mq('tablet'){
      padding-left: 0;
      padding-top: 50px;
      width: 100%;
    }

    *:not(h1):not(h2):not(h3):not(h4) {
      font-size: 16px;
      line-height: 1.5em;
    }

    > ul {
      margin-top: 20px;

      li {
        svg {
          width: 20px;
          fill: #888;
          vertical-align: middle;
        }
      }
    }

    h2 {
      font-size: 200%;
      margin-bottom: 20px;
    }

    code {
      font-size: 85% !important;
      max-width: 100%;

      &.language-html{
        white-space: pre;

        * {
          font-size: 100% !important;
        }
        .nt {
          color: #2f6f9f;
        }

        .na {
          color: #4f9fcf;
        }

        .s {
          color: #d44950;
        }
      }


    }

    a {
      text-decoration: underline;
    }

    div {
      &.warning {
        background: rgba($warningcolor, 0.3);
        border: 1px solid $warningcolor;
        padding: 10px;
        margin: 15px 0;
      }
      &.attention {
        background: rgba($errorcolor, 0.3);
        border: 1px solid $errorcolor;
        padding: 10px;
        margin: 15px 0;
      }

    }
  }
}



