@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700);

$basic-font-size: 14px !default;
body {
  @include font-style($basic-font-size, $fontcolor, 300);
}

h1 {
  @include font-style(280%, $fontcolor, 400);
  line-height: 1.2em;
  margin-top: .2em;
  margin-bottom: .5em;
}

h2 {
  @include font-style(243%, $fontcolor, 400);
  line-height: 1.2em;
  margin-top: .2em;
  margin-bottom: .2em;
}

h3 {
  @include font-style(171%, $fontcolor, 400);
  line-height: 38px;
  margin-bottom: .3em;
}

h4 {
  @include font-style(150%, $fontcolor, 400);
  margin-bottom: .2em;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

p a:hover, .list a:hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}

strong, .bold {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.underline {
  text-decoration: underline;
}

/********** WEIGHT ************/
.weight400 {
  font-weight: 400;
}

.weight500 {
  font-weight: 500;
}

/********** SMALL ************/
.small80 {
  font-size: 80%;
}

/********** BIG ************/
.big120 {
  font-size: 120%;
}

.big130 {
  font-size: 130%;
}

.big140 {
  font-size: 140%;
}

/********** SIZE *********/
.size18 {
  font-size: 18px;
}

/********** SIZE *********/
.orange {
  color:  $orange;
}