html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

div:not([class*='slim']){
  position: relative;
  box-sizing: border-box;
}

body {
  margin:0;
}

.container-fluid {
  margin-right:auto;
  margin-left:auto;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  width:1170px;
  max-width: 100%;

  &:after{
    content: "";
    display: table;
    line-height: 0;
    clear: both;
  }

  [class*="grid_"]{
    float:left;
    width:8.33333%;
    min-height:1px;
    box-sizing:border-box;
    position: relative;

    &:after{
      content: "";
      display: table;
      line-height: 0;
      clear: both;
    }
  }

  .clear:after {
    content: "";
    clear: both;
    display: table;
  }

  .container-fluid:before, .container-fluid:after {
    display: table;
    content: "";
    line-height: 0;
  }

  .grid_1{width:$grid_1}
  .grid_2{width:$grid_2}
  .grid_3{width:$grid_3}
  .grid_4{width:$grid_4}
  .grid_5{width:$grid_5}
  .grid_6{width:$grid_6}
  .grid_7{width:$grid_7}
  .grid_8{width:$grid_8}
  .grid_9{width:$grid_9}
  .grid_10{width:$grid_10}
  .grid_11{width:$grid_11}
  .grid_12{width:$grid_12}

  .preffix_1{margin-left:$grid_1}
  .preffix_2{margin-left:$grid_2}
  .preffix_3{margin-left:$grid_3}
  .preffix_4{margin-left:$grid_4}
  .preffix_5{margin-left:$grid_5}
  .preffix_6{margin-left:$grid_6}
  .preffix_7{margin-left:$grid_7}
  .preffix_8{margin-left:$grid_8}
  .preffix_9{margin-left:$grid_9}
  .preffix_10{margin-left:$grid_10}
  .preffix_11{margin-left:$grid_11}
  .preffix_12{margin-left:$grid_12}

  @include mq('tablet') {
     [class*="grid_"] {
      width: 100%;
    }
  }

  @include mq-max-min('desktop', 'tablet_wide') {
    width: 940px;
  }

  @include mq-max-min('tablet_wide', 'tablet') {
    width: 748px;
  }

  @include mq-max-min('tablet', 'phone') {
    width: 420px;
  }

  @include mq('tablet') {
    [class*="preffix_"] {
      margin-left: 0;
    }
  }

  @include mq('phone') {
    width: 100%;
    max-width: 300px;
    padding: 0 15px;
  }

}

@include mq('tablet_wide') {
  .responsive_tablet_wide {
    [class*="grid_"] {
      width: 100%;
      margin-left: 0;
    }
  }
}



