@include mq('tablet') {
  .rd_navi_bar {
    position: absolute !important;
    top: 0;
    left: 0;
    //width: 50px;
    //height: 50px;
    width: 35px;
    height: 35px;
    display: block;
    cursor: pointer;
    transition: opacity 0.2s linear;
    &:hover {
      opacity: 0.8;
    }
    span {
      display: block;
      float: left;
      clear: both;
      //height: 4px;
      //width: 40px;
      height: 3px;
      width: 30px;
      border-radius: 40px;
      background-color: $fontcolor;
      position: absolute;
      right: 3px;
      top: 3px;
      overflow: hidden;
      transition: all 0.4s ease;
      &:nth-child(1) {
        //margin-top: 10px;
        margin-top: 0;
        z-index: 9;
      }
      &:nth-child(2) {
        //margin-top: 25px;
        margin-top: 10px;
        transition: none;
      }
      &:nth-child(3) {
        //margin-top: 40px;
        margin-top: 20px;
      }
    }
  }

  .open {
    span:nth-child(2) {
      visibility: hidden;
    }

    span:nth-child(1), span:nth-child(3) {
      z-index: 100;
      transform: rotate(45deg);
    }
    span:nth-child(1) {
      //transform: rotate(45deg) translateY(12px) translateX(12px);
      transform: rotate(45deg) translateY(12px) translateX(6px);
    }

    span:nth-child(3) {
      //transform: rotate(-45deg) translateY(-10px) translateX(10px);
      transform: rotate(-45deg) translateY(-8px) translateX(3px);
    }
  }

  .rd_navi_bar.open + nav {
    display: block !important;
  }
}