main {
  min-height: calc(100vh - 60px);
}

img, video {
  max-width: 100%;
}

hr {
  border: none;
  border-bottom: 1px solid $grau90;
  display: block;
  width: 100%;
}

* + hr {
  padding-top: 40px;
}

.hr {
  border-bottom: 3px solid $blau1;
  padding-bottom: 50px;
}

.slim {
  cursor: pointer;
}

.relative {
  position: relative;
}

/******** GRÖßEN **********/
.width100px{
  width: 100px;
}

/******* SONSTIGES *********/
.upload_selection_size {
  > div {
    margin-top: 10px;

    @include mq('tablet', 'min'){
      display: inline-block;
      padding-right: 20px;
    }

  }
}

.zoom-img img {
  cursor: zoom-in;
}

video {
  width: 100%;
}

.border {
  @include border();
}

.img_ref {
  text-align: center;

  img {
    max-width: 150px;
    border-radius: 100%;
    margin: 0 auto;
  }
}

.img_tile_view{
  width: 255px;
  height: 100px;
  background-repeat: no-repeat;
}