//GRID
$grid_1: 8.33333%;
$grid_2: 16.66667%;
$grid_3: 25%;
$grid_4: 33.33333%;
$grid_5: 41.66667%;
$grid_6: 50%;
$grid_7: 58.33333%;
$grid_8: 66.66667%;
$grid_9: 75%;
$grid_10: 83.33333%;
$grid_11: 91.66667%;
$grid_12: 100%;

//basic
$schwarz: #000 !default;
$weiss: #fff !default;

//grau
$grau95: hsl(0, 0%, 95%);
$grau90: hsl(0, 0%, 90%);
$grau80: hsl(0, 0%, 80%);
$grau65: hsl(0, 0%, 65%);
$grau50: hsl(0, 0%, 50%);
$grau30: hsl(0, 0%, 30%);

$fontcolor: #888;
$footercolor : whitesmoke;
$placeholdercolor: $grau80;

//Farben
$gruen: #99cc33;
$orange: #ff9500;
$blau1: #003d8f;
$rot: red;

$errorcolor : rgb(238, 56, 53);
$warningcolor : rgb(255,210,70);

//Navi
$navi_background: $grau95;

//BUTTON
$buttoncolor : $blau1;
$buttoncolorSuccess : rgba($gruen,0.3);
$buttoncolorError: rgba(254,15,23,0.3);

//TILE VIEW
$tile_view_background: #81cd40;
$tile_view_background_not_edited: #00aaf0;
$tile_view_background_disabled: $grau80;